<h2 class="page-header"><%= category[0].name %></h2>

<a class="btn btn-primary" href="/categories/<%= category.name %>/edit">Edit</a>
<a class="btn btn-danger" href="/categories/<%= category.name %>/delete">Delete</a>

<% if (tours.length > 0) { %>
<h2>Tours in Category</h2>
<% tours.forEach(tour => { %>
    <h4><%= tour.title %> </h4> 
    <h3><%= tour.description %> </h3>
    <h3><%= tour.location %> </h3>
    <h3>Category: <%= tour.name %> </h3>
<% }); %> 
<% } %>
 

<a class="btn btn-primary" href="/categories">Back to Categories </a>