<h2 class="page-header"><%= category[0].name %></h2>

<a class="btn btn-primary" href="/categories/<%= category[0].name %>/edit">Edit</a>
<a class="btn btn-danger" href="/categories/<%= category[0].name %>/delete">Delete</a>

<% if (tours.length > 0) { %>
<h2 class="page-header">Tours in Category</h2>
<div class="tour-grid">
    <% tours.forEach(tour => { %>
        <h4><%= tour.title %> </h4> 
        <h3><%= tour.description %> </h3>
        <h3><%= tour.location %> </h3>
        <h3>Category: <%= tour.name %> </h3>
    <% }); %>     
</div>
<% } %>
<a class="btn btn-primary" href="/categories">Back to Categories </a>