<h2 class="page-header">Categories</h2>
<% categories.forEach(category => { %>
    <div class="category-row">
        <div class="category-name"><a href="/categories/<%= category.name %>"><%= category.name %> </a></div>
        <div class="btn-row">
            <a class="btn btn-primary" href="/categories/<%= category.name %>">View</a>
            <a class="btn btn-primary" href="/categories/<%= category.name %>/edit">Edit</a>
            <a class="btn btn-danger" href="/categories/<%= category.name %>/delete">Delete</a>
        </div>   
    </div>         
<% }); %>  