<label for="title">Tour title: </label>
<input id="title" type="text" name="title" value="<%= tour? tour[0].title : "" %>" />
<label for="description">Short description: </label>
<textarea name="description" id="description" /><%= tour? tour[0].description : "" %>
</textarea>
<label for="location">Location: </label>
<input id="location" type="text" name="location" value="<%= tour? tour[0].location : "" %>" />
<label for="categoryId">Category: </label>
<select name="categoryId" id="categoryId">
<% categories.forEach(category => { %>
    <% if (tour && category.id === tour[0].category_id) { %>
        <option selected label="<%= category.name %>" value="<%= category.id %>">
      <% } else { %>
        <option value="<%= category.id %>">
            <%= category.name %>
        </option>
    <% } %>
<% }); %>  
</select> 



