<div class="form-row">
    <div class="form-item">
        <label for="title">Tour title: </label>
        <input id="title" type="text" name="title" value="<%= tour[0].title %>" required/>
    </div>
    <div class="form-item">
        <label for="categoryId">Category: </label>
        <select name="categoryId" id="categoryId">
        <% categories.forEach(category => { %>
            <% if (tour && category.id === tour[0].category_id) { %>
                <option selected label="<%= category.name %>" value="<%= category.id %>">
              <% } else { %>
                <option value="<%= category.id %>">
                    <%= category.name %>
                </option>
            <% } %>
        <% }); %>  
        </select> 
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label for="location">Location: </label>
        <input id="location" type="text" name="location" value="<%= tour[0].location %>" />
    </div>
    <div class="form-item">
        <label for="imageurl">Image URL: </label>
        <input id="imageurl" type="text" name="imageurl" value="<%= tour[0].imageurl %>" />
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label for="description">Short description: </label>
        <textarea name="description" id="description" /><%= tour? tour[0].description : "" %>
        </textarea>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label class="label-password"  for="password">Enter password: </label>
        <input class="password" id="password" type="password" name="password" required />
    </div>
</div>




