<h2 class="page-header"><%= tour[0].title %></h2>
<% if (tour[0].image != null && tour[0].image != '') { %> 
    <img
  src="/images/<%= tour[0].image %>"
  alt="<%= tour[0].title %>"
  width="150"
/>
<% } %>

<h3><%= tour[0].description %></h3>
<h3><%= tour[0].location %></h3>
<h3>Category: <%= tour[0].name %></h3>

<a class="btn btn-primary" href="/tours/<%= tour[0].id %>/edit">Edit</a>
<a class="btn btn-danger" href="/tours/<%= tour[0].id %>/delete">Delete</a>
<a class="btn btn-primary" href="/categories/<%= tour[0].name %>">View Category</a>

<a class="btn btn-primary" href="/tours">Back to Tours </a>
