<h2 class="page-header"><%= tour[0].title %></h2>
<div class="tour-details">
  <div>
    <% if (tour[0].imageurl != null && tour[0].imageurl != '') { %> 
      <img class="img-big"
      src="<%= tour[0].imageurl %>"
      alt="<%= tour[0].title %>"
    />
    <% } %>
    <div class="tour-details-btn-grid">
      <a class="btn btn-primary stretch-btn" href="/tours/<%= tour[0].id %>/edit">Edit</a>      
      <a class="btn btn-danger stretch-btn" href="/tours/<%= tour[0].id %>/delete">Delete</a>
      <a class="btn btn-primary tour-details-category-btn" href="/categories/<%= tour[0].name %>">View Category</a>
    </div>    
  </div>
  <div class="tour-details-grid">
    <div class="tour-details-label">
      Category:
    </div>
    <div><%= tour[0].name %></div>
    <div class="tour-details-label">
      Location:
    </div>
    <div><%= tour[0].location %></div>
    <div class="tour-details-label">
      Short description:
    </div>
    <div><%= tour[0].description %></div>
  </div>  
</div>

<div class="tour-details-btn-grid">
  <a class="btn btn-info tour-details-category-btn" href="/tours">Go to All Tours </a>
</div>

